

<%= form_for @post, html: {multipart: true} do |f| %>

<div class="form-group label-floating is-empty"> </div>
                <label for="555" class="control-label">People</label>
                <%= f.text_field :title,:class=>"form-control" %> <br>
 </div>

<div label class="control-label">About</label></div>
<div class="form-group label-floating is-empty">
<%= f.text_area :body, :class=>"form-control"%></div>

<div class="field"> 

	<%= f.label :image %><br>
	<%=f.file_field :image %>
</div>




	
	
	<br>
	<br>

         <div class="row">
          <%= f.submit :class=> "btn btn-raised btn-success ripple-container"  %>
    
        </div>
	
	<% end %>
	